.row__poster--secondRow {
  width: 250px;
  height: 375px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-out;
  background: radial-gradient(#111 50%, #000 100%);
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.row__poster--secondRow img {
  transform: scale(1);
  transition: all 0.3s ease-out;
  max-width: 100%;
}

.row__poster--secondRow:hover img {
  transform: scale(1.02);
  opacity: 0.2;
}

.row__picture--otherRows {
  width: 350px;
  margin: 10px 0 0 15px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.row__picture--otherRows:hover {
  transform: scale(1.02);
}

.row__overview--secondRow {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}

.row__overview--otherRows {
  display: none;
}

.row__poster--secondRow:hover .row__title--secondary {
  opacity: 1;
  transform: translateY(-60px);
}

.row__poster--secondRow:hover .row__description {
  opacity: 1;
  transform: translateY(-60px);
}

.row__poster--secondRow:hover .fa-angle-down {
  opacity: 1;
  transform: translateY(-40px);
}
