.reviews {
	padding: 20px;
}

.reviews__title--primary {
	margin: 60px 20px 30px;
	padding: 5px 20px;
	font-weight: 400;
	background-color: #00000003;
	font-size: 1.7rem;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.reviews__wrapper {
	padding: 40px;
}

.reviews__blockquote {
	border-radius: 8px;
	position: relative;
	background-color: #fafafa;
	padding: 60px 50px 80px 50px;
	font-size: 0.9em;
	margin: 0 0 -50px;
	line-height: 1.6em;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.reviews__blockquote:before,
.reviews__blockquote:after {
	font-family: 'FontAwesome';
	content: '\201C';
	position: absolute;
	font-size: 50px;
	opacity: 0.3;
}

.reviews__blockquote:before {
	top: 35px;
	left: 20px;
}
.reviews__blockquote:after {
	right: 20px;
	bottom: 35px;
}

.reviews__author {
	text-align: center;
}

.reviews__picture {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	margin-bottom: 5px;
	z-index: 1;
	position: relative;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.reviews__username,
.reviews_rating {
	margin: 5px 0;
	font-weight: 800;
}

.reviews__title--secondary {
	margin-top: 80px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: none;
	font-weight: 400;
	font-size: 1.9rem;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
}

.reviews__button {
	position: absolute;
	bottom: 100px;
	left: 40px;
	padding: 15px 25px;
	outline: none;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	cursor: pointer;
	background-color: #a0a0a0;
	border-radius: 0.1vw;
}

.reviews__button:hover {
	background-color: #585858;
}

.fa-arrow-circle-left {
	color: #fff;
	margin-right: 8px;
}
