.translation {
	padding: 20px;
}

.translation__title--primary {
	margin: 60px 20px;
	padding: 5px 20px;
	font-weight: 400;
	background-color: #00000003;
	font-size: 1.7rem;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.translation__show {
	margin: 60px 30px 80px;
}

.translation__names {
	display: flex;
	background-color: #3a3a3a;
	color: #fff;
	border-radius: 5px;
	width: fit-content;
	padding: 8px 15px;
	text-align: center;
}

.translation__names > div {
	margin: 0 2px;
}

.translation__title--secondary {
	margin: 20px 0 5px;
}

.translation__button {
	position: absolute;
	bottom: 100px;
	left: 40px;
	padding: 15px 25px;
	outline: none;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	cursor: pointer;
	background-color: #a0a0a0;
	border-radius: 0.1vw;
}

.translation__button:hover {
	background-color: #585858;
}

.fa-arrow-circle-left {
	color: #fff;
	margin-right: 8px;
}
