.searchbar {
	max-width: 75%;
	height: 50px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	padding: 0px 20px;
	border: solid 1px #a0a0a0;
	margin: 0 auto;
}

.searchbar__input {
	font-family: 'Poppins', sans-serif;
	width: 100%;
	height: 30px;
	border: none;
	outline: none;
	font-size: 13px;
}

.fa-search {
	color: #3a3a3a;
	font-size: 16px;
}
