.paginationBttns {
  list-style: none;
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: center;
  bottom: 0;
  margin: 100px 0;
  font-size: 17px;
}

.paginationBttns a {
  margin: 10px;
  cursor: pointer;
}

.paginationActive a {
  font-weight: 600;
}

.paginationDisabled a {
  cursor: default;
  display: none;
}
